/* Facebook styles */
.bg-facebook {
    background-color: #1178F2; /* Facebook Blue */
}

.bg-facebook-icon {
    background-color: #1178F2; /* Lighter Blue */
}

/* Instagram styles */
.bg-instagram {
    background-color: #8a3ab9; /* Instagram Purple */
}

.bg-instagram-icon {
    background-color: #c13584; /* Lighter Pink */
}

/* LinkedIn styles */
.bg-linkedin {
    background-color: #0077b5; /* LinkedIn Blue */
}

.bg-linkedin-icon {
    background-color: #0a66c2; /* Lighter Blue */
}

/* Twitter styles */
.bg-twitter {
    background-color: #1da1f2; /* Twitter Blue */
}

.bg-twitter-icon {
    background-color: #1da1f2; /* Lighter Blue */
}

/* YouTube styles */
.bg-youtube {
    background-color: #ff0000; /* YouTube Red */
}

.bg-youtube-icon {
    background-color: #ff0000; /* Lighter Red */
}

/* Pinterest styles */
.bg-pinterest {
    background-color: #bd081c; /* Pinterest Red */
}

.bg-pinterest-icon {
    background-color: #e60023; /* Lighter Red */
}

/* Snapchat styles */
.bg-snapchat {
    background-color: #fffc00; /* Snapchat Yellow */
}

.bg-snapchat-icon {
    background-color: #ffea00; /* Lighter Yellow */
}

/* TikTok styles */
.bg-tiktok {
    background-color: #000; /* TikTok Black */
}

.bg-tiktok-icon {
    background-color: #000; /* Lighter Teal */
}

/* WhatsApp styles */
.bg-whatsapp {
    background-color: #25d366; /* WhatsApp Green */
}

.bg-whatsapp-icon {
    background-color: #4fce5d; /* Lighter Green */
}

/* Reddit styles */
.bg-reddit {
    background-color: #ff4500; /* Reddit Orange */
}

.bg-reddit-icon {
    background-color: #ff8717; /* Lighter Orange */
}
