/* Import PrimeNG and PrimeFlex */
@import url('primeng/resources/themes/lara-light-blue/theme.css');
@import url('primeng/resources/primeng.css');
@import url('primeflex/primeflex.css');
@import url('primeicons/primeicons.css');

/* Reset body */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; /* Use Roboto as the main font */
}

/* Reset HTML font size */
html {
  font-size: 14px; /* Increase base font size slightly for better readability */
}

/* Apply font weight to all elements */
* {
  font-weight: 400; /* Use a lighter font weight for better readability */
}
